
<html>
<head><% include ../partials/head %></head>
<body>
<% include ../partials/header %>

<div class="container">
hello world!
</div><!-- container -->

  <% include ../partials/footer %>
  <% include ../partials/jsdefaults %>
</body>
</html>

